<div class="grid-row">

    <div class="column-two-thirds">
        <details role="group">
            <summary class="font-xsmall" role="button" aria-controls="details-content-0" aria-expanded="false">
                <span class="summary">Is there a problem with this page?</span>
            </summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p class="text">
                    <span class="bold-small">Help us improve this service</span>
                </p>
                <p class="text">
                    <a aria-label="This link will open in a new tab. You’ll need to return to this tab and continue with your application within 60 minutes so you don’t lose your progress." href="http://www.smartsurvey.co.uk/s/2T7C6/" target="_blank">Please report any problems with this page</a>
                </p>
                <p class="text">
                    This link will open a new tab. You'll need to return to this tab and continue with your application within 60 minutes so you don't lose your progress.
                </p>
            </div>
        </details>
    </div>

    <div class="column-one-third">
        <!-- side nav -->
    </div>
</div>
