{% extends "layout.html" %}

{% block page_title %}
  Reform IdAM V1.x Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Reform IdAM Administration
      </h1>
      <p>
        This is the adminstration interface for the Reform IdAM. Authorised users only.
      </p>

      <h2 class="heading-medium">Super User Menu</h2>

      <ul class="list list-bullet">
        <li><a href="/users-start.html">Manage users</a></li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
