{% extends "layout.html" %}

{% block page_title %}
  Reform IdAM V1.x Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Reform IdAM V1.x Prototype
      </h1>
      <p>
        This is the HTML prototype for the Reform IdAM V1.x application (aka Strategic IdAM and FRIDAM).
      </p>

      <h2 class="heading-medium">Admin UI</h2>

      <h3>Home</h3>

			<ul class="list list-bullet">
				<li><a href="/admin-home-so.html">Home - System Owner view</a></li>
        <li><a href="/admin-home-su.html">Home - Super User view</a></li>
        <li><a href="/admin-home-au.html">Home - Admin User view</a></li>
			</ul>

      <h3>Manage Services</h3>
      <ul class="list list-bullet">
        <li><a href="/services-start.html">Manage Services - Start</a></li>
        <li><a href="/services-add.html">Manage Services - Add</a></li>
        <li><a href="/services-add-errors.html">Manage Services - Add (WITH ERRORS)</a></li>
        <li><a href="/services-edit.html">Manage Services - Edit</a></li>
      </ul>

      <h3>Manage Roles</h3>
      <ul class="list list-bullet">
        <li><a href="/roles-start.html">Manage Roles - Start</a></li>
        <li><a href="/roles-add.html">Manage Roles - Add</a></li>
        <li><a href="/roles-add-errors.html">Manage Roles - Add (WITH ERRORS)</a></li>
        <li><a href="/roles-edit.html">Manage Roles - Edit</a></li>
      </ul>

      <h3>Manage Users</h3>

      <ul class="list list-bullet">
        <li><a href="/users-start.html">Manage Users - Start</a></li>
        <li><a href="/users-search-fail.html">Manage Users - No search results</a></li>
        <li><a href="/users-search-success.html">Manage Users - User found</a></li>
        <li><a href="/users-add.html">Manage Users - Register new user</a></li>
        <li><a href="/users-add-confirm.html">Manage Users - Register new user (confirm)</a></li>
        <li><a href="/users-add-success.html">Manage Users - Register new user (success)</a></li>
        <li><a href="/users-edit.html">Manage Users - Edit existing user</a></li>
        <li><a href="/users-edit-confirm.html">Manage Users - Edit existing user (confirm)</a></li>
        <li><a href="/users-edit-success.html">Manage Users - Edit existing user (success)</a></li>
      </ul>

      <h3>Invite Citizen To Private Beta</h3>

      <ul class="list list-bullet">
        <li><a href="/invite-start.html">Invite User - Start</a></li>
        <li><a href="/invite-search-fail.html">Invite User - No search results</a></li>
        <li><a href="/invite-search-success.html">Invite User - User found</a></li>
        <li><a href="/invite-add.html">Invite User - Invite new user (details and services)</a></li>
        <li><a href="/invite-add-confirm.html">Invite User - Invite new user (confirm)</a></li>
        <li><a href="/invite-add-success.html">Invite User - Invite new user (success)</a></li>
        <li><a href="/invite-edit.html">Invite User - Invite existing user (details and services)</a></li>
        <li><a href="/invite-edit-confirm.html">Invite User - Invite existing user (confirm)</a></li>
        <li><a href="/invite-edit-success.html">Invite User - Invite existing user (success)</a></li>
      </ul>

      <h3>Error Pages</h3>

			<ul class="list list-bullet">
        <li><a href="/error-generic.html">Error - Generic</a></li>
				<li><a href="/error-expired-link.html">Error - Expired Link</a></li>
        <li><a href="/error-not-authorised.html">Error - Not Authorised</a></li>
			</ul>

      <h3>Notification Pages</h3>

			<ul class="list list-bullet">
        <li><a href="/notification-successful.html">Notification - Activation Successful</a></li>
			</ul>

      <h2 class="heading-medium">Non-Admin UI</h2>

			<ul class="list list-bullet">
				<li><a href="/sign-in.html">Sign-in</a></li>
        <li><a href="/sign-in-error.html">Sign-in (Error State)</a></li>
			</ul>

    </div>
  </div>

</main>

{% endblock %}
