{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Reform IdAM V1.x Prototype
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is the HTML prototype for the Reform IdAM V1.x application (aka Strategic IdAM and FRIDAM).
      </p>

      <h2 class="heading-medium">External User Start Points</h2>

      <p>The following are external user journey start points for using the IdAM.</p>

			<ul class="list list-bullet">
				<li><a href="/sign-in.html">Sign-in</a></li>
        <li><a href="/sign-in-error.html">Sign-in (Error State)</a></li>
			</ul>

      <h2 class="heading-medium">Internal User Start Points</h2>

      <p>The following are external user journey start points for using the IdAM.</p>

			<ul class="list list-bullet">
				<li><a href="/admin-home.html">Admin Home (post sign-in)</a></li>
			</ul>

      <h2 class="heading-medium">Generic Pages</h2>

      <p>The following are generic IdAM pages.</p>

			<ul class="list list-bullet">
				<li><a href="/error-expired-link.html">Expired Link</a></li>
			</ul>

    </div>
  </div>

</main>

{% endblock %}
