{% extends "layout.html" %} {% block page_title %} Reform IdAM V1.x Prototype {% endblock %} {% block content %}

<script>
  function search() {

    $("#loading").removeClass("hidden");
    $("#details").addClass("hidden");
    var email = document.getElementById("emailAddress").value;

    $.post("/users/search", {
        emailAddress: email
      },
      function(data, status, jqXHR) {
        $("#loading").addClass("hidden");
        $("#details").removeClass("hidden");
        updateUsers(data);
      });

  }

  function updateUsers(user) {

    var containerDiv = document.getElementById("userDetails");
    if (user === null || user === "" || user === 'undefined') {
      var hiddenId = document.getElementById("userId");
      hiddenId.value = "";
      document.getElementById("newEmailAddress").value = document.getElementById("emailAddress").value;
      containerDiv.innerHTML = "Could not find a user with the specified email address.";
      $("#inviteButton").removeClass("hidden");
    } else {
      var hiddenId = document.getElementById("userId");
      hiddenId.value = user.id;
      containerDiv.innerHTML = user.forename + " " + user.surname + ' <br><button type="submit" class="button">Edit</button>';
      $("#inviteButton").addClass("hidden");
    }
  }
</script>

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li>Invite Users</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Invite Users</h1>
      <p>Invite a user to a private beta by entering their full email address below.</p>

      <div class="form-group">

        <label for="emailAddress">
          <span class="form-label-bold">Email</span>
        </label>

        <input class="form-control" type="text" id="emailAddress" name="emailAddress" value="fred.blogs@hmcts.net" />
        <br/><br />

        <form action="invite-search-fail.html">
        <button class="button" type="button" onclick="window.location='invite-search-fail.html'">
          Search (Case - User doesn't exist)
        </button><br/><br/>
        <button class="button" type="button" onclick="window.location='invite-search-success.html'">
          Search (Case - User exists)
        </button>

        <br/><br/>
        <a href="admin-home-au.html">Return to main menu</a>

      </form>
      </div>

    </div>
  </div>

</main>

{% endblock %}
