{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/invite-start.html">Invite Users</a></li>
      <li>New User</li>
    </ol>
  </div>


  <form action="/invite-add-confirm" id="user-form" method="post">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-large">Invite New User - Details and Services</h1>
        <p>You are registering a user with the following email address:<br />
        <span class="heading-medium">fred.blogs@hmcts.net</span></p>
        <p>To register a different user, please return to the <a href="/invite-start.html">search page</a>.</p>
        <input type="hidden" id="email" name="email" required="true" value="fred.blogs@hmcts.net">

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

          <div class="form-group">
              <label for="firstname">
                <span class="form-label-bold">First name</span>
                <span class="form-hint">Please enter the user's first name</span>
              </label>
              <input class="form-control" type="text" id="firstname" name="firstname">
          </div>

          <div class="form-group">
              <label for="lastname">
                <span class="form-label-bold">Last name</span>
                <span class="form-hint">Please enter the user's last name</span>
              </label>
              <input class="form-control" type="text" id="lastname" name="lastname">
          </div>

          <div class="form-group" id="services">
            <fieldset>

              <legend>
                <span class="form-label-bold">Public beta services</span>
                <span class="form-hint">Please select one or more public beta services to assign this user to</span>
              </legend>

              <div class="multiple-choice">
                <input id="select-1" type="checkbox" name="assigned-services" value="services-edit.html">
                <label for="select-1">Divorce Citizen App (DIVORCE)</label>
              </div>
              <div class="multiple-choice">
                <input id="select-2" type="checkbox" name="assigned-services" value="services-edit.html">
                <label for="select-2">Civil Money Claims Citizen App (CMC_CIT)</label>
              </div>

            </fieldset>
          </div>

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

        <button class="button" type="submit">
          Continue
        </button>

        <br/><br/>
        <a href="users-start.html">Invite another user</a>

      </div>
    </div>

  </form>

</main>

{% endblock %}
