{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li>Manage Roles</li>
    </ol>
  </div>

  <form method="get" id="roleForm" action="roles-display.html">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-large">Manage Roles</h1>
        <p>This section allows you to edit user roles assigned to a service or add new ones.</p>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">Which service do you want to manage the roles for?</h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="DIVORCE">
              <label for="radio-1">Divorce Citizen App (DIVORCE)</label>
            </div>
            <div class="multiple-choice">
              <input disabled id="radio-2" type="radio" name="radio-group" value="CMC_CIT">
              <label for="radio-2">Civil Money Claims Citizen App (CMC_CIT)</label>
            </div>
            <div class="multiple-choice">
              <input disabled id="radio-3" type="radio" name="radio-group" value="CMC_SOL">
              <label for="radio-3">Civil Money Claims Solicitor App (CMC_SOL)</label>
            </div>

          </fieldset>
        </div>

        <input class="button" type="submit" value="Continue">
        <br/><br/>
        <a href="admin-home-so.html">Return to main menu</a>

      </div>
    </div>

  </form>
  
</main>

{% endblock %}
