{% extends "layout.html" %}

{% block page_title %}
  Reform IdAM V1.x Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="roles-start.html">Manage Roles</a></li>
      <li>DIVORCE</li>
    </ol>
  </div>

  <script>
    function submitHandler() {
      var goToURL = document.querySelector('input[name="radio-group"]:checked').value;
      window.location = goToURL;
    }
  </script>

  <form method="post" id="roleForm" action="/roles">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-large">Manage Roles - DIVORCE</h1>
        <p>You can edit an existing role or add a new one below.</p>
        <p class="heading-medium" style="color:#005EA5">New role added succesfully!</p>

        <div class="form-group">
          <fieldset>

            <legend>
              <h2 class="heading-medium">Which role do you want to edit?</h2>
            </legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="roles-edit.html">
              <label for="radio-1">DIVORCE_SUPER</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="roles-edit.html">
              <label for="radio-2">DIVORCE_ADMIN</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-group" value="roles-edit.html">
              <label for="radio-3">DIVORCE_PRIVATE_BETA</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-4" type="radio" name="radio-group" value="roles-edit.html">
              <label for="radio-4">DIVORCE_NEW_ROLE</label>
            </div>
            <p class="form-block">or</p>
            <div class="multiple-choice">
              <input id="radio-new" type="radio" name="radio-group" value="roles-add.html">
              <label for="radio-new">Add a new role</label>
            </div>

          </fieldset>
        </div>

      </div>
    </div>


    <div class="grid-row">
      <div class="column-full">

        <button class="button" type="button" onclick="submitHandler();">
          Continue
        </button>
        <br/><br/>
        <a href="roles-start.html">Return to service list</a>

      </div>
    </div>

  </form>

</main>

{% endblock %}
