{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<script>
  var roleNames = {
    "b254b289-fe01-441f-a348-10d1e992d852": "glitch",
    "c6cf5b4b-af05-4e25-ac01-ed53f514f8ab": "IDAM_SYSTEM_OWNER",
    "95a0c31a-991f-4589-9dab-f3fab02e86c4": "RW_Citizen",
    "b1902375-04c5-428d-ab26-741fc7270e31": "role 2",
    "aed8a6b9-ec72-4a7b-9895-fd584bce79aa": "Coordinator",
    "61b8cc4b-c178-4c1d-9ff1-4854acd6e70b": "",
    "688c7624-83a4-4c39-a9b0-4ba6d87e8538": "Role Example",
    "51e68880-ddfc-4c27-8483-5bb3c784429c": "benrole1"
  };
  var availableRoles = ["c6cf5b4b-af05-4e25-ac01-ed53f514f8ab", "aed8a6b9-ec72-4a7b-9895-fd584bce79aa", "688c7624-83a4-4c39-a9b0-4ba6d87e8538", "61b8cc4b-c178-4c1d-9ff1-4854acd6e70b", "51e68880-ddfc-4c27-8483-5bb3c784429c",
    "b1902375-04c5-428d-ab26-741fc7270e31", "b254b289-fe01-441f-a348-10d1e992d852", "95a0c31a-991f-4589-9dab-f3fab02e86c4"
  ];
  var allowedRoles = [];
  var onboardingRoles = [];

  function getName(roleId) {
    return roleNames[roleId];
  }

  function buildAllowedRolesList() {

    var items = new Array();
    allowedRoles.forEach(function(roleId) {
      items.push({
        name: getName(roleId),
        id: roleId
      });
    });
    buildListItems(document.getElementById("allowedRolesList"), items, "allowedRoles", [{
      name: "Remove",
      function: "removeAllowedRole"
    }]);
  }

  function buildOnboardingRolesList() {

    var items = new Array();
    onboardingRoles.forEach(function(roleId) {
      items.push({
        name: getName(roleId),
        id: roleId
      });
    });
    buildListItems(document.getElementById("onboardingRolesList"), items, "onboardingRoles", [{
      name: "Remove",
      function: "removeOnboardingRole"
    }]);
  }

  function buildAllowedRoleOptions() {

    var items = [];
    availableRoles.forEach(function(roleId) {
      items.push({
        name: getName(roleId),
        value: roleId
      });
    });

    buildDropDown(document.getElementById("newAllowedRoles"), items, "Select a role...");
  }

  function buildOnboardingRoleOptions() {

    var items = [];
    allowedRoles.forEach(function(roleId) {
      items.push({
        name: getName(roleId),
        value: roleId
      });
    });

    buildDropDown(document.getElementById("newOnboardingRoles"), items, "Select a role...");
  }


  function addAllowedRole() {
    var select = document.getElementById("newAllowedRoles");
    var roleId = select.options[select.selectedIndex].value;
    if (isNotBlank(roleId)) {
      allowedRoles.push(roleId);
      allowedRoles.sort();

      buildAllowedRolesList();
      loadRoles();
      document.getElementById("allowedRoles").value = allowedRoles;
    }
  }

  function addOnboardingRole() {
    var select = document.getElementById("newOnboardingRoles");
    var roleId = select.options[select.selectedIndex].value;
    if (isNotBlank(roleId)) {
      onboardingRoles.push(roleId);
      onboardingRoles.sort();

      buildOnboardingRolesList();
      document.getElementById("onboardingRoles").value = onboardingRoles;
    }
  }

  function removeAllowedRole(roleId) {

    remove(allowedRoles, roleId);
    remove(onboardingRoles, roleId);

    document.getElementById("allowedRoles").value = allowedRoles;
    document.getElementById("onboardingRoles").value = onboardingRoles;
    buildAllowedRolesList();
    buildOnboardingRolesList();
    loadRoles();
  }

  function removeOnboardingRole(roleId) {

    remove(onboardingRoles, roleId);
    document.getElementById("onboardingRoles").value = onboardingRoles;

    buildOnboardingRolesList();
  }


  var updateRoles = function(roles) {
    availableRoles = roles;
    buildAllowedRoleOptions();
    buildOnboardingRoleOptions();
  };

  function loadRoles() {

    requestUpdateRoles(null, allowedRoles, "/services", updateRoles);
  }

  $(document).ready(function() {
    buildAllowedRolesList();
    buildOnboardingRolesList();
    buildAllowedRoleOptions();
    buildOnboardingRoleOptions();
  });
</script>

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/services-start.html">Manage Services</a></li>
      <li>Register User</li>
    </ol>
  </div>

  <form action="/services/save" id="service-form" method="post" class="form">

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="error-summary" role="group" aria-labelledby="validation-error-summary-heading" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="validation-error-summary-heading">
            Information is missing or invalid
          </h1>

          <p>
            Please fix the following:
          </p>

          <ul class="error-summary-list">

            <li><a href="#serviceLabel">The service name must not be blank and must be unique</a></li>
            <li><a href="#serviceDescription">The service description must not be blank</a></li>

          </ul>

        </div>

        <h1 class="heading-large">Add Service</h1>
        <p>You can enter the details of the new service below.</p>

        <div class="form-group form-group-error">

          <label for="serviceLabel">
              <span class="form-label-bold">Label</span>
              <span class="form-hint">
                This is the unique label for your service
              </span>
              <span class="error-message">
                Please enter a unique label for the service.
              </span>
          </label>

          <input class="form-control" type="text" id="serviceLabel" name="serviceLabel" value="" />

        </div>

        <div class="form-group form-group-error">

          <label for="serviceDescription">
              <span class="form-label-bold">Description</span>
              <span class="form-hint">
                This is the description of the service which helps to more easily identify it to IdAM administrators.
              </span>
              <span class="error-message">
                Please enter a description of the service.
              </span>
          </label>

          <input class="form-control" type="text" id="serviceDescription" name="serviceDescription" value="" />

        </div>

        <div class="form-group">

          <label for="onboardingEndpoint">
              <span class="form-label-bold">On-boarding Endpoint</span>
              <span class="form-hint">
                This endpoint can be used during the citizen invitation process. It will be passed information about the newly registered user once they activate their account.
              </span>
          </label>

          <input class="form-control" type="text" id="onboardingEndpoint" name="onboardingEndpoint" value="" />

        </div>

        <div class="form-group">

          <label for="allowedRolesList">
              <span class="form-label-bold">Service Roles</span>
              <span class="form-hint">
                These are the unique user roles for this service. You will need to create these roles before you can add them here (the service can be created without them initially).
              </span>
          </label>

          <ul class="list list-bullet" id="allowedRolesList">
            <li>EXISTING_ROLE1 <a href="#" title="Remove this role">[Remove]</a></li>
            <li>EXISTING_ROLE2 <a href="#" title="Remove this role">[Remove]</a></li>
            <li>EXISTING_ROLE3 <a href="#" title="Remove this role">[Remove]</a></li>
          </ul>

          <select class="form-control" name="newAllowedRoles" id="newAllowedRoles">
            <option value="">Select a role...</option>
            <option value="aed8a6b9-ec72-4a7b-9895-fd584bce79aa">SERV_ADMIN2</option>
            <option value="688c7624-83a4-4c39-a9b0-4ba6d87e8538">SERV_CASE_WORKER</option>
            <option value="688c7624-83a4-4c39-a9b0-4ba6d87e8538">SERV_PRIVATE_BETA</option>
          </select>

          <br /><br />

          <button class="button" type="button" class="button" onclick="addAllowedRole();">Add service role</button>

        </div>

        <div class="form-group">

          <label for="newOnboardingRoles">
              <span class="form-label-bold">Private Beta Roles</span>
              <span class="form-hint">
                These are the user roles that will be added to any user that is invited to a private beta.
              </span>
          </label>

          <ul class="list list-bullet" id="onboardingRolesList">
            <li>OTHER_PRV_BETA_ROLE1 <a href="#" title="Remove this role">[Remove]</a></li>
          </ul>

          <select class="form-control" name="newOnboardingRoles" id="newOnboardingRoles">
            <option value="">Select a role...</option>
            <option value="aed8a6b9-ec72-4a7b-9895-fd584bce79aa">SERV_ADMIN2</option>
            <option value="688c7624-83a4-4c39-a9b0-4ba6d87e8538">SERV_CASE_WORKER</option>
            <option value="688c7624-83a4-4c39-a9b0-4ba6d87e8538">SERV_PRIVATE_BETA</option>
          </select>

          <br /><br />

          <button type="button" class="button" onclick="addOnboardingRole();">Add private beta role</button>

        </div>

      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="form-group">

          <input type="hidden" id="serviceId" name="serviceId" value="" />
          <input type="hidden" id="allowedRoles" name="allowedRoles" value="" />
          <input type="hidden" id="onboardingRoles" name="onboardingRoles" value="" />

          <button class="button" type="submit">
            Save Service
          </button>
          <br /><br />
          <a href="services-start.html">Return to list of services</a>

        </div>

      </div>
    </div>

  </form>

  {% endblock %}
