{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-full-width">

      <form name="loginForm" class="form" novalidate="" method="post">

        <div class="error-summary" role="group" aria-labelledby="validation-error-summary-heading" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="validation-error-summary-heading">
            Information is missing or invalid
          </h1>

          <p>
            Please fix the following:
          </p>

          <ul class="error-summary-list">

            <li><a href="#username">Check your email address</a></li>
            <li><a href="#password">Check your password</a></li>

          </ul>

        </div>

        <h1 class="heading-large">
          Sign-in
        </h1>

        <p>
          Sign in to get started.
        </p>

        <p>
          <a href="/reset/forgotpassword?continue-url=">Forgotten password?</a>
        </p>

        <div class="form-group form-group-error">

          <label for="username">

            <span class="form-label-bold">Email address</span>
            <span class="error-message">Enter your email address</span>

          </label>

          <input class="form-control" type="email" id="username" name="username" value="">
        </div>

        <div class="form-group form-group-error">

          <label for="password">

            <span class="form-label-bold">Password</span>
            <span class="error-message">Enter your password</span>

          </label>

          <input class="form-control" id="password" name="password" type="password">
        </div>

        <div class="form-group">
          <input type="hidden" name="continue" value="">
          <input type="hidden" name="upliftToken" value="">
          <input type="hidden" name="response_type" value="">
          <input type="hidden" name="_csrf" value="Gq9pT7un-lF918vA5Rawu9fprJDVlyW-z3wU">

          <input type="hidden" name="redirect_uri" value="">
          <input type="hidden" name="client_id" value="">
          <input type="hidden" name="scope" value="">
          <input type="hidden" name="state" value="">

          <input class="button" type="submit" value="Sign in">
        </div>

      </form>

    </div>
  </div>

  {% include "includes/survey_footer.html" %}

</main>

{% endblock %}
