{% extends "layout.html" %} {% block page_title %} Reform IdAM V1.x Prototype {% endblock %} {% block content %}

<script>
  function search() {

    $("#loading").removeClass("hidden");
    $("#details").addClass("hidden");
    var email = document.getElementById("emailAddress").value;

    $.post("/users/search", {
        emailAddress: email
      },
      function(data, status, jqXHR) {
        $("#loading").addClass("hidden");
        $("#details").removeClass("hidden");
        updateUsers(data);
      });

  }

  function updateUsers(user) {

    var containerDiv = document.getElementById("userDetails");
    if (user === null || user === "" || user === 'undefined') {
      var hiddenId = document.getElementById("userId");
      hiddenId.value = "";
      document.getElementById("newEmailAddress").value = document.getElementById("emailAddress").value;
      containerDiv.innerHTML = "Could not find a user with the specified email address.";
      $("#inviteButton").removeClass("hidden");
    } else {
      var hiddenId = document.getElementById("userId");
      hiddenId.value = user.id;
      containerDiv.innerHTML = user.forename + " " + user.surname + ' <br><button type="submit" class="button">Edit</button>';
      $("#inviteButton").addClass("hidden");
    }
  }
</script>

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/users-start.html">Manage Users</a></li>
      <li>Edit User</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          User updated successfully
        </h1>
        <p class="font-small">
          The user details have been updated.
        </p>
      </div>

      <br/><br/>
      <a href="users-start.html">Manage another user</a><br/>or<br/><a href="admin-home-so.html">Return to main menu</a>

    </div>
  </div>

</main>

{% endblock %}
