{% extends "layout.html" %}

{% block page_title %}
Reform IdAM V1.x Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/users-start.html">Manage Users</a></li>
      <li>Add User</li>
    </ol>
  </div>


  <form action="/users-add-errors" id="user-form" method="post">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-large">Register User</h1>
        <p>You are registering a user with the following email address:<br />
        <span class="heading-medium">fred.blogs@hmcts.net</span></p>
        <p>To register a different user, please return to the <a href="/users-start.html">search page</a>.</p>
        <input type="hidden" id="email" name="email" required="true" value="fred.blogs@hmcts.net">

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

          <div class="form-group">
              <label for="firstname">
                <span class="form-label-bold">First name</span>
                <span class="form-hint">Please enter the user's first name</span>
              </label>
              <input class="form-control" type="text" id="firstname" name="firstname">
          </div>

          <div class="form-group">
              <label for="lastname">
                <span class="form-label-bold">Last name</span>
                <span class="form-hint">Please enter the user's last name</span>
              </label>
              <input class="form-control" type="text" id="lastname" name="lastname">
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label-bold">Assigned Roles</span>
                <span class="form-hint">
                  Select the roles that are to be assigned to this user.
                </span>
              </legend><br/>

              <h3 class="heading-small form-block">DIVORCE</h3>

              <div class="multiple-choice">
                <input checked="checked" id="select-1" type="checkbox" name="assigned-services" value="DIVORCE_ADMIN">
                <label for="select-1">DIVORCE_ADMIN</label>
              </div>
              <div class="multiple-choice">
                <input id="select-2" type="checkbox" name="assigned-services" value="DIVORCE_ADMIN">
                <label for="select-2">DIVORCE_ROLE_2</label>
              </div>
              <div class="multiple-choice">
                <input id="select-3" type="checkbox" name="assigned-services" value="DIVORCE_ADMIN">
                <label for="select-3">DIVORCE_ADMIN</label>
              </div>
              <div class="multiple-choice">
                <input disabled id="select-3" type="checkbox" name="assigned-services" value="DIVORCE_ADMIN">
                <label for="select-3">DIVORCE_CONFLICTING_ROLE</label>
              </div>

              <h3 class="heading-small form-block">CMC_ADMIN</h3>

              <div class="multiple-choice">
                <input checked="checked" id="select-4" type="checkbox" name="assigned-services" value="services-edit.html">
                <label for="select-4">CMC_ADMIN</label>
              </div>
              <div class="multiple-choice">
                <input id="select-5" type="checkbox" name="assigned-services" value="services-edit.html">
                <label for="select-5">CMC_ROLE_2</label>
              </div>

            </fieldset>
          </div>

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

        <button class="button" type="submit">
          Continue
        </button>

        <br/><br/>
        <a href="users-start.html">Search for another user</a>

      </div>
    </div>

  </form>

</main>

{% endblock %}
