{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
        var roleNames = {"b254b289-fe01-441f-a348-10d1e992d852":"glitch","1e942225-7005-412f-933e-51db4ea448de":"TTT","95a0c31a-991f-4589-9dab-f3fab02e86c4":"RW_Citizen","aed8a6b9-ec72-4a7b-9895-fd584bce79aa":"Coordinator","61b8cc4b-c178-4c1d-9ff1-4854acd6e70b":"","5f57cc45-58ce-4d8a-b4f3-7ccd331645fb":"RW Admin","688c7624-83a4-4c39-a9b0-4ba6d87e8538":"Role Example","cdd09f57-a1b5-4ca2-82a2-1e1689f59612":"role-test","85747da7-0f85-46f3-a09f-a6c4b57ebb4f":"myrole1","c6cf5b4b-af05-4e25-ac01-ed53f514f8ab":"IDAM_SYSTEM_OWNER","c22b8147-f95d-4abb-950d-6a44e4bee17f":"kermit","b1902375-04c5-428d-ab26-741fc7270e31":"role 2","f206a7a0-3df4-437a-a0f8-86d0803166f9":"cookie","c4f85cc2-d767-43c1-a64b-4557748d0f74":"leightest","d228004b-69fd-4719-a78f-bd4ecafbafd2":"IDAM_SUPER_USER","51e68880-ddfc-4c27-8483-5bb3c784429c":"benrole1"};
        var availableRoles = [];
        var assignedRoles = [];
        var services = [{"id":"f557999b-9875-4e29-8e3a-ddfde9102c90","label":"3","description":"","allowedRoles":["f557999b-9875-4e29-8e3a-ddfde9102c90"],"onboardingEndpoint":"ijlujkljkl.","onboardingRoles":["f557999b-9875-4e29-8e3a-ddfde9102c90"]},{"id":"92151891-71a2-4390-ba83-7cec427bd87b","label":"1","description":"","allowedRoles":["51e68880-ddfc-4c27-8483-5bb3c784429c"],"onboardingEndpoint":"","onboardingRoles":[]},{"id":"6a279d2d-bcea-4bfc-a272-c27d3bf54c16","label":"a","description":"s","allowedRoles":[],"onboardingEndpoint":"","onboardingRoles":[]}];
        var originalAssignedRoles = assignedRoles.slice();

        var addedRoles = [];
        var removedRoles = [];

        var edit = false;

        function getName(roleId){
            return roleNames[roleId];
        }

        function buildRoleOptions() {

            var items = [];
            availableRoles.forEach(function (roleId) {
                items.push({name: getName(roleId), value: roleId});
            });

            buildDropDown(document.getElementById("newAssignableRole"), items, "Select a role...");
        }

        function buildServiceOptions() {

            var items = [];
            services.forEach(function (service) {
                items.push({name: service.description, value: service.id});
            });

            buildDropDown(document.getElementById("services"), items, "Select a service...");
        }

        var updateRoles = function (roles) {
            availableRoles = roles;
            buildRoleOptions();
        };

        function loadRoles(){

            var selectedService = getSelectedService();
            if (isNotBlank(selectedService)) {
                requestUpdateRoles(selectedService, assignedRoles, "/users", updateRoles);
            }
        }

        function buildAssignedRolesList(assignedRoles) {

            var items = new Array();
            assignedRoles.forEach(function (roleId) {
                items.push({name: getName(roleId), id: roleId});
            });
            buildListItems(document.getElementById("assignedRoles"), items, "assignedRoles", [{name: "Remove", function: "removeRole"}]);
        }

        function removeRole(roleId) {
            var toRemove = document.getElementById("assignedRoles-" + roleId);
            toRemove.remove();
            availableRoles.push(roleId);
            availableRoles.sort();
            if (contains(originalAssignedRoles, roleId)){
                removedRoles.push(roleId)
                remove(addedRoles, roleId);
            }
            remove(assignedRoles, roleId);
            loadRoles();
        }

        function addRole(selectedRole) {
            var select = document.getElementById(selectedRole);
            var roleId = select.options[select.selectedIndex].value;
            if (isNotBlank(roleId)) {
                assignedRoles.push(roleId);
                assignedRoles.sort();
                if (!contains(originalAssignedRoles, roleId)) {
                    addedRoles.push(roleId);
                    remove(removedRoles, roleId);
                }
                buildAssignedRolesList(assignedRoles);
                loadRoles();
            }
        }

        function save() {

            if (edit) {
                var conf = confirm(buildConfirmationMessage());

                if (conf) {
                    var user = '{';
                    user += '"addedRoles":' + JSON.stringify(addedRoles);
                    user += ', "removedRoles":' + JSON.stringify(removedRoles);
                    user += '}';
                    document.getElementById('userJson').value = user;
                    document.getElementById('user-form').submit();
                }
            } else {
                var user = '{';
                user += '"email":"' + document.getElementById('email').value + '"';
                user += ',"firstname":"' + document.getElementById('firstname').value + '"';
                user += ',"lastname":"' + document.getElementById('lastname').value + '"';
                user += ',"roles":' + JSON.stringify(addedRoles);
                user += '}';
                document.getElementById('userJson').value = user;
                document.getElementById('user-form').submit();
            }
        }

        function buildConfirmationMessage(){

            return "Are you sure?\n" + "Added: " + JSON.stringify(addedRoles) + "\nRemoved: " + JSON.stringify(removedRoles);
        }

        function getSelectedService(){
            var select = document.getElementById('services');
            var serviceId = select.options[select.selectedIndex].value;

            return serviceId;
        }

        $( document ).ready(function() {
            buildAssignedRolesList(assignedRoles);
            buildServiceOptions();
        });
    </script>

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/users-start.html">Manage Users</a></li>
      <li><a>Register User</a></li>
    </ol>
  </div>

  <form action="users-add-success" id="user-form" method="post">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-large">Register User - Confirm Details</h1>
        <p>You are registering a user with the following details:</p>

        <p><span class="heading-medium">Email address:</span><br/>
        fred.blogs@hmcts.net</p>

        <p><span class="heading-medium">First name:</span><br/>
        Fred</p>

        <p><span class="heading-medium">Last name:</span><br/>
        Bloggs</p>

        <p><span class="heading-medium">Services:</span><br/>
        DIVORCE<br/>
        CMC_ADMIN<br/>
        </p>

        <p><span class="heading-medium">Assigned roles:</span><br/>
        DIVORCE_ADMIN<br/>
        CMC_ADMIN<br/>
        </p>

        <input type="hidden" id="email" name="email" required="true" value="fred.blogs@hmcts.net">

      </div>
    </div>




    <div class="grid-row">
      <div class="column-full">

        <button class="button" type="submit">
          Confirm
        </button>

        <button class="button" type="button">
          Cancel
        </button>

        <br/><br/>
        <a href="users-start.html">Search for another user</a>

      </div>
    </div>

  </form>

</main>

{% endblock %}
